<style>
   #ItemTable {
      background-color: transparent;
   }
</style>
<table id="ItemTable" class="table table-inverse">
   <thead id="ItemTableHead">
      <tr>
         <th>Product</th>
         <th>Expiration Date</th>
         <th>Comments</th>
         <th>Price</th>
      </tr>
   </thead>
   <tbody id="ItemTableBody">
      <% grocery_list.forEach(function(item) { %>
         <tr class="item">
            <td><%= item.product %></td>
            <td><%= item.expiration %></td>
            <td><%= item.comments %></td>
            <td>$<%= item.price %></td>
            <td><input type="checkbox" name="record_delete"></td>
         </tr>
      <% }); %>
   </tbody>
</table>
<div>
<input type="button" id="delete_button" class="btn btn-success" value="Delete Rows">
</div>

<script>
   $(document).ready(function checkValid() {

   $("#delete_button").click(function () {
      deleteRows();
   });
});
   
   function deleteRows() {
   $("#ItemTableBody").find('input[name="record_delete"]').each(function () {
      if ($(this).is(":checked")) {
         $(this).parents("tr").remove();
      }
   });
};
</script>