<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Theme Made By www.w3schools.com - No Copyright -->
    <title>Stale Buddy - My Account</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/tabs.css" />
  </head>
  <body>
    <div class="tab">
      <button class="tablinks" onclick="openTab(event, 'Items')">Add Items</button>
      <button class="tablinks" onclick="openTab(event, 'Groceries')">Groceries</button>
      <button class="tablinks" onclick="openTab(event, 'Log_Book')">Log Book</button>
      <button class="tablinks" onclick="openTab(event, 'Recipies')">Recipes</button>
    </div>
    <div id="Items" class="tabcontent">
      <div class="container">
        <div class="row justify-content-center">
          <form class="form-horizontal">
              <div class="form-group">
                <label class="control-label col-sm-1" for="Product">Product Name:</label>
                <div class="col-sm-2">
                  <input type="Product" class="form-control" placeholder="">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-1" for="expiration_date">Expiration Date:</label>
                <div class="col-sm-2">
                  <input type="expiration" class="form-control" placeholder="">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-1" for="Comments">Use by (optional):</label>
                <div class="col-sm-2">
                  <input type="Comments" class="form-control" placeholder="">
                </div>
              </div>
              <div class="col-sm-1 col-sm-push-1"><button type="button" id="add_button" class="btn btn-danger">Add</button>
              </div>
            </form>
        </div>
      </div>
    </div>
  </div>
  <div id="Groceries" class="tabcontent">
    <h3>Grocery List</h3>
    <p>[Bullet List of Groceries]</p>
  </div>
  <div id="Log_Book" class="tabcontent">
    <h3>Log Book</h3>
    <p>[Short Statistics Here]</p>
    <input type="button" class="btn btn-info" id="Log_Book button" value="Detailed Log Book" />
  </div>
  
  <div id="Recipies" class="tabcontent">
    <h3>Recipies</h3>
    <p>[Search Recipies]</p>
    <form>
      <div class="input-group">
        <input type="search" class="form-control" size="50" placeholder="Search Recipe" required>
        <div class="input-group-btn">
          <button type="submit" class="btn btn-info">Search</button>
        </div>
      </div>
    </form>
  </div>
  <script src="/javascripts/tabs.js"></script>
</body>
</html>